h1 
{
	text-align: center;
	font-size: 70px;
	margin:0;
	padding-top: 349px;
}

div {
	text-align: center;
	font-size: 30px;
	padding-top: 15px;
}

ul {
	display: inline-block;
	text-align: left;
}

li {
	padding-bottom: 15px;
}